h2 {
  text-align: center;
}
body {
  text-align: center;
  background-color: #E8F9FD ;
}
table {
  align-items: center;
}
title {
  background-color: #F7ECDE;
}
.img {
  background-color: #E8F9FD ;
}
